[Desktop Entry]
Encoding=UTF-8
Categories=Office
Exec=com-noboby-weread
Icon=com-noboby-weread
Name=com-noboby-weread
Name[zh_CN]=微信阅读
StartupNotify=true
Terminal=false
Type=Application